<div class="word-group">
  <p class="word-box-original">
    <span>{{wordgroup.original}}</span>
  </p>
  <!-- The first token is the selected solution, so get max from these topics -->
  <p class="word-box-solution risk-{{wordgroup.tokens[0].topics | findValue:'max'}}">
    {{wordgroup.solution}}
  </p>
  <div class="word-details">
    <token-list [tokens]="wordgroup.tokens"></token-list>
  </div>
</div>
