.word-group{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;

  .word-box{
    margin: var(--word-group-margin);
    padding: var(--input-text-padding);
  }

  .word-box-original{
    background: var(--word-group-background);
    .word-box();
  }

  .word-box-solution{
    color: var(--text-color-contrast);
    border-radius: 4px;
    .word-box();

    &:hover + .word-details{
      display: grid;
    }
  }


  .word-details{
    position: absolute;
    display: none;
    background: #2E3334;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: min-content;
    font-size: var(--font-size-small);
    list-style: none;
  }


}
