<div class="token-list">
  <div class="item" *ngFor="let token of tokens; let i = index" [class.highlight]="i===0">
    <div *ngIf="token.topics | findValue:'max' as risk">
      <span class="risk-level risk-{{risk}}">{{risk}}</span>
    </div>
    <div>
      <span class="label">{{token.text}}</span>
    </div>
    <div>
      <span class="language">{{token.language}}</span>
    </div>
    <div>
      <topic-chip *ngFor="let topic of token.topics | keyvalue" [topicId]="topic.key" [riskLevel]="topic.value" small="true"></topic-chip>
    </div>
  </div>
</div>
