:host{

  --token-list-padding: 15px;

  .token-list{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: min-content;
    background: var(--token-list-background);
    font-size: var(--font-size-small);

    .item{
      display: contents;

      &.highlight{
        background: rgba(255,255,255,.1);
      }

      // Because background is set on children, padding has to be set on children to make it display right
      > *{
        padding-top: var(--token-list-padding);
        padding-bottom: var(--token-list-padding);
        background: inherit;
      }
      > :first-child{
        padding-left: var(--token-list-padding);
      }
      > :last-child{
        padding-right: var(--token-list-padding);
      }

      .risk-level{
        color: var(--text-color-contrast);
        margin-right: 5px;
        padding: 2px 12px;
        border-radius: 10px 0 0 10px;
      }
      .language{
        opacity: .6;
        padding-left: 15px;
        padding-right: 10px;
      }
    }
  }
}
