@import (reference) '../chips.less';

.policy-chip{
  .chip();
  .chip-indicator();

  &.pass{
    border-color: var(--test-pass);
  }

  &.fail{
    border-color: var(--test-fail);
  }

  .mdi{
    font-size: var(--font-size-medium);
    margin: 0 7px;
  }
}
