.chart-container{
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;

  .bar-container{
    display: contents;

    .bar-label{
      display: var(--chart-label-display);
      padding: var(--chart-label-padding);
    }

    .bar{
      height: var(--chart-bar-height);
      background: var(--chart-bar-background);
      overflow: hidden;
      border-radius: var(--chart-bar-radius);

      >div{
        height: 100%;
        background: var(--chart-bar-color);
      }
    }

    .bar-value{
      display: var(--chart-value-display);
      padding: var(--chart-value-padding);
    }
  }
}
