<div class="chart-container">
  <div *ngFor="let label of labels" class="bar-container">
    <div class="bar-label">{{label}}</div>
    <div class="bar">
      <div [ngStyle]="{width: barData[label]*100 + '%'}"></div>
    </div>
    <div class="bar-value">{{displayValues[label]}}</div>
  </div>
</div>
