// @import '../../_vars.less';
@import '../../_breakpoints.less';

:host {
  flex: 1;

  /* Subsection heading */
  h3{
    font-size: var(--font-size-small);
    color: #636d63;
  }

  /* Horizontal Rule */
  hr{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;

    .main-header{
      flex: 1;
      min-width: max-content;

      h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding-top: 0;
      }

      .breadcrumb{
        display: flex;
        align-items: center;
        padding-bottom: 10px;

        copy-button{
          --button-bg: none;
          margin-left: 5px;
        }
      }
    }

    .header-buttons{
      flex: 0;
      display: flex;
      align-items: center;

      --input-border: 2px solid #111312;
      --input-focus-border: var(--input-border);
      --input-select-bg: #111312;
      --input-select-fg: #8EA2AB;
      --button-bg: var(--input-select-bg);

      > *{
        margin-right: 10px;
      }
      label{
        color: #8EA2AB;
        width: max-content;
      }
    }
  }

  .view-grid{
    display: flex;
    align-items: flex-start;

    @media @tablet-max{
      flex-direction: column;
      align-items: center;
    }

    .content{
      flex: 1 0 750px;
      background: var(--page-content-bg);
      padding: var(--page-content-padding);

      @media @tablet-max{
        flex: 1 1;
      }

      .diagnose-grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    .sidebar{
      background: var(--page-content-bg);
      padding: var(--page-content-padding);
      flex: 1 0 450px;
      max-width: 750px;
      margin-left: 20px;

      // Put sidebar in new line, set margin to content:
      @media @tablet-max{
        margin-left: 0;
        margin-top: 20px;
      }

      .gerkin-btn{
        background: #58C1B8;
        color: var(--text-color-contrast);
      }
      .create-rule-btn{
        background: #04E762;
        color: var(--text-color-contrast);
      }

    }
  }
}
