<section id="generic-view">

  <header>
    <div class="main-header">
      <h1>Diagnose</h1>
      <nav class="breadcrumb">
        <xng-breadcrumb></xng-breadcrumb>
        <copy-button [toCopy]="href" title="Copy current URL"></copy-button>
      </nav>
    </div>
    <div class="header-buttons">
      <button (click)="getClassification()">
        <span class="mdi mdi-refresh"></span>
      </button>
      <select (change)="handleLanguageChange($event)">
        <option *ngFor="let language of languages" [value]="language.code" [selected]="language.code===selectedLanguage">{{language.name}}</option>
      </select>
      <select (change)="handleContentTypeChange($event)">
        <option *ngFor="let contentType of contentTypes" [value]="contentType.id" [selected]="contentType.id===selectedContentType">{{contentType.name}}</option>
      </select>
      <select (change)="handleClientChange($event)">
        <option *ngFor="let client of clients" [value]="client.id" [selected]="client.id===selectedClientId">{{client.name}}</option>
      </select>
      <label>
        <app-toggle-button (toggleChange)="handleExtendedClick($event)"></app-toggle-button>
        Deeper Analysis
      </label>
    </div>
  </header>


  <!-- Diagnose Grid -->
  <div class="view-grid">
    <div class="content">
      <div class="diagnose-grid" *ngIf="classification$ | async as classification;else loader">
        <word-group *ngFor="let wordgroup of classification.extended" [wordgroup]="wordgroup"></word-group>
      </div>
    </div>
    <div class="sidebar">
      <div *ngIf="classification$ | async as classification;else loader">
        <h2>{{classification.text}}</h2>
        <hr />

        <div class="split">
          <div>
            <h3>Topics</h3>
            <topic-chip *ngFor="let topic of classification.topics | keyvalue" [topicId]="topic.key" [riskLevel]="topic.value"></topic-chip>
          </div>
          <div>
            <h3>Policy Guides</h3>
            <policy-chip *ngFor="let policy of policies" [policy]="policy" [topics]="classification.topics"></policy-chip>
          </div>
        </div>
        <hr />

        <h3>AI Prediction</h3>
        <bar-chart [barData]="classification.predictions"></bar-chart>
        <hr />

        <div class="split">
          <button class="escalate-btn">Escalate</button>
          <button class="gerkin-btn">Gerkin-Test</button>
          <button class="create-rule-btn">Create Rule</button>
        </div>
      </div>
    </div>

    <ng-template #loader>
      <loading-indicator [loading]="true"></loading-indicator>
    </ng-template>
  </div>

</section>
