:host{
  // Calculate needed values
  --toggle-button-radius: calc(var(--toggle-button-height) / 2);
  --toggle-button-shadow: calc(var(--toggle-button-height) / 1.6);

  display: inline-block;
  vertical-align: -.4em;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &::before, &::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  .container {
    width: var(--toggle-button-width);
    height: var(--toggle-button-height);
    margin: 0;
  }

  .toggle {
    position: absolute;
    width: var(--toggle-button-width);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  [type="checkbox"] {
    display: none;
  }

  .check-label {
    display: block;
    width: var(--toggle-button-width);
    height: var(--toggle-button-height);
    border: none;
    border-radius: var(--toggle-button-radius);
    background: var(--toggle-button-bg);
    transition: var(--toggle-button-transition);
    cursor: pointer;
    overflow: hidden;

    .chip {
      display: block;
      position: absolute;
      content: '';
      top: var(--toggle-button-padding);
      bottom: 0;
      right: calc(calc(var(--toggle-button-width) - var(--toggle-button-height)) + var(--toggle-button-padding));
      width: calc(var(--toggle-button-height) - calc(2 * var(--toggle-button-padding)));
      height: calc(var(--toggle-button-height) - calc(2 * var(--toggle-button-padding)));
      margin: 0;
      border: none;
      border-radius: var(--toggle-button-radius);
      background: var(--toggle-button-fg);
      transition: inherit;
      overflow: hidden;

      -webkit-box-shadow: 0 var(--toggle-button-shadow) var(--toggle-button-shadow) 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 var(--toggle-button-shadow) var(--toggle-button-shadow) 0 rgba(0, 0, 0, 0.25);
    }
  }

  [type="checkbox"] {
    &:checked {
      + .check-label{
        background: var(--toggle-button-active-bg);

        .chip {
          background: var(--toggle-button-active-fg);
          right: var(--toggle-button-padding);
        }
      }
    }
  }
}
