<div class="container">
  <div class="toggle">
    <input type="checkbox" name="toggle" class="check-checkbox" (change)="handleChange($event)" [id]="id">
    <label class="check-label" [for]="id">
      <span class="chip">
      </span>
    </label>
  </div>
</div>
