button{
  transition: .25s ease-in-out all;

  &:hover{
    background: var(--button-hover-bg);
    color: var(--button-hover-fg);
  }

  &.success{
    background: var(--button-active-bg);
    color: var(--button-active-fg);
  }
}
