@import (reference) '../chips.less';

.topic-chip{
  .chip();
  .chip-indicator();

  .mdi{
    margin: 0 5px;
    color: var(--topic-chip-icon-color);
  }

  .risk-level{
    background: #000;
    text-align: center;
    border-radius: 50%;
    margin: 0 3px;
    height: 16px;
    width: 16px;
    float: right;
  }

  // Styling for small chip
  &.small{
    display: inline;
    margin: 0 5px;
    padding: 0;

    .risk-level{
      display: inline-block;
      margin: 0 0 0 -3px;
      background: none;
      float: none;
    }
  }
}
