<div class="topic-chip border-risk-{{riskLevel}} {{small?'small':''}}">
  <span class="mdi mdi-{{topicIcon}}"></span>
  <span *ngIf="!small" class="name">{{topicName}}</span>
  <span class="risk-level">{{riskLevel}}</span>
</div>
