.chip(){
  display: block;
  padding: 8px 3px;
  margin: 5px;
  background: var(--topic-chip-bg);
  border-radius: var(--topic-chip-radius);
  font-size: var(--font-size-small);
}

.chip-indicator(){
  border-left: var(--topic-chip-indicator);
}
