/*
  COLOUR SCHEME DEFINITIONS
*/
@import '_breakpoints.less';

/* Default scheme (dark) */
:root {

  // Core
  --page-bg: #0c0c0c;
  --page-header-bg: #111312;
  --page-content-bg: #111212;
  --text-color: #f4f4f4;
  --text-color-contrast: #000;
  --max-page-width: 1720px;
  --transition-speed: 250ms;
  --transition-timing: ease-in-out;
  --page-content-padding: 2em;

  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-small: 13px;

  // Accents
  --accent-brand: #3FB8AF;
  --accent-highlight: #F17105;

  // Link styles
  --link-color: var(--text-color);
  --link-hover-color: var(--text-color); //TODO
  --link-breadcrumb-inactive: #CECECE;
  --link-breadcrumb-active: var(--text-color);

  // Section styles
  --section-radius: 10px;
  --section-padding: 1.5em;
  --section-padding-tight: 0.75em;
  --section-bg: #1B1F21;
  --section-fg: #DDDDDD;
  --section-highlight-bg: #212329;
  --section-highlight-fg: #909192;
  --section-separator: #1b1f20;

  // Dashboard
  --dashboard-item-bg: #0F0F0F;
  --dashboard-item-fg: var(--text-color);
  --dashboard-item-focus-bg: #2F2F2F;

  // Button styles
  --button-bg: #282E30;
  --button-fg: #8B9EA7;
  --button-subtle-bg: #111212;
  --button-subtle-fg: #8B9EA7;
  --button-primary-bg: #04E762;
  --button-primary-fg: #1F1F1F;
  --button-active-bg: #58C1B8;
  --button-active-fg: #1F1F1F;
  --button-radius: 3px;
  --button-spacing: 1em;
  --button-spacing-tight: 0.5em;
  --button-padding: 0.5em 0.75em;
  --button-focus-ring: 0 0 1px 2px white;

  --button-hover-bg: #393F40;
  --button-hover-fg: #8B9EA7;

  // Horizontal rule
  --hr-color: rgba(255, 255, 255, 0.25);

  // Accent colours
  --accent-1: #3fb8af;

  // Risk indicators
  --risk-0: #35B536;
  --risk-1: #468847;
  --risk-2: #999999;
  --risk-3: #f89406;
  --risk-4: #1D8DC4;
  --risk-5: #F74F07;
  --risk-6: #D42D2A;
  --risk-7: #B94A48;

  // Pass/fail indicators
  --test-pass: #4bd585;
  --test-fail: #e4604d;

  // Text inputs
  --input-border: solid 2px #666666;
  --input-focus-border-color: rgba(255, 255, 255, 0.3);
  --input-focus-border: solid 2px var(--input-focus-border-color);
  --input-text-bg: transparent;
  --input-text-fg: #DDDDDD;
  --input-text-placeholder: rgba(255, 255, 255, 0.5);
  --input-text-padding: 0.5em 0.75em;
  --input-text-radius: 5px;

  // Select inputs
  --input-select-bg: #3f3f48;
  --input-select-fg: #DDDDDD;
  --input-select-placeholder: #DDDDDD;
  --input-select-padding: 0.5em 0.75em;
  --input-select-radius: 5px;

  // Toggle button
  --toggle-button-width: 3em;
  --toggle-button-height: 1.5em;
  --toggle-button-padding: .2em;
  --toggle-button-bg: #333;
  --toggle-button-fg: #EEE;
  --toggle-button-active-bg: #1A3A37;
  --toggle-button-active-fg: #58C1B8;
  --toggle-button-transition: all 0.25s ease-in-out;

  // Topic & Policy Chips // TODO use better name?)
  --topic-chip-bg: #1B1F22;
  --topic-chip-fg: #F0F0F0;
  --topic-chip-icon-color: #636D73;
  --topic-chip-indicator: solid 3px var(--topic-chip-fg);
  --topic-chip-radius: 3px;

  // Topic Chips: Alternate Style
  --topic-chip-alt-bg: var(--section-bg);
  --topic-chip-alt-fg: var(--section-fg);

  // Diagnose / Word Groups
  --word-group-margin: 18px 9px 0 9px;
  --word-group-background: #292E2F;

  // Barchart
  --chart-bar-color: #58C1B8;
  --chart-bar-background: #1B1F22;
  --chart-bar-height: 5px;
  --chart-bar-radius: 5px;
  --chart-label-padding: 4px 10px 4px 0;
  --chart-label-display: block;
  --chart-value-padding: 0 0 0 3px;
  --chart-value-display: block;

}

@media (prefers-contrast: high) {
  // TODO: Dark scheme, high contrast
}

@media (prefers-contrast: low) {
  // TODO: Dark scheme, low contrast
}

/* Light scheme */
@media (prefers-color-scheme: light) {
  // TODO: Light theme
  // See https://twitter.com/steveschoger/status/1151160261170126850 for guidance.
}

@media (prefers-color-scheme: light) and (prefers-contrast: high) {
  // TODO: Light scheme, high contrast
}

@media (prefers-color-scheme: light) and (prefers-contrast: low) {
  // TODO: Light scheme, low contrast
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-speed: 0;
  }
}
